body {
  margin: 0;
  font-family: sans-serif;
  color: white;
  font-family: "Roboto", Roboto, monospace;
  font-size: 1.5rem;
  background-color: black;
}

.bg {
  background-image: linear-gradient(
    to right,
    #10001077 0%,
    #41D1FF77 33%,
    #1363FF77 66%,
    #10001077 100%
  );
  
  background-size: 10000% 10000%;
  animation: movingGradient 20s linear infinite alternate;    
}

@keyframes movingGradient {
  from { background-position: 0 0; }
  to { background-position: 100% 100%; }
}

.footer {
  color: white;
  text-align: center;
  padding-bottom: 1rem;
}