body {
  margin: 0;
  font-family: sans-serif;
  color: white;
  font-family: "Roboto", Roboto, monospace;
  font-size: 1.5rem;
  background-color: black;
}

.bg {
  background-image: linear-gradient(
    to bottom right,
    #C00040 0%, #500010 25%, 
    #100010 50%, #100050 75%, 
    #4000C0 100%
  );
  
  background-size: 200% 200%;
  animation: movingGradient 5s linear infinite alternate;    
}

@keyframes movingGradient {
  from { background-position: 0 0; }
  to { background-position: 100% 100%; }
}

.footer {
  color: white;
  text-align: center;
  padding-bottom: 1rem;
}